:root {
    --color1: #029491;
    --color2: #000000;
    --color3: #FFFFFF;
    --color4: #FFB64F;
    --color5: #7CE3E1;
    --color6: #5970FF;

    --fontname1: Ferry;
    --fontname2: Inter;

    --logo-header-url: "./img/logo-header-mobile.png";
    --logo-footer-url: "./img/logo-footer-mobile.png";

    @media screen and (min-width: 400px)  {
        --logo-header-url: "./img/logo-header-desktop.png";
        --logo-footer-url: "./img/logo-footer-desktop.png";
    }
}