@font-face {
	font-family: 'Ferry';
	src: url("../fonts/Ferry-Black.ttf");
	font-weight: 900;
	font-style: normal;
}


$color1: #029491;
$color2: #000000;
$color3: #FFFFFF;
$color4: #FFB64F;
$color5: #7CE3E1;
$color6: #5970FF;

$fontname1: "Ferry";
$fontname2: "Inter";

$logo_header_mobile_url: "../img/logo-header-mobile.png";
$logo_footer_mobile_url: "../img/logo-footer-mobile.png";
$logo_header_desktop_url: "../img/logo-header-desktop.png";
$logo_footer_desktop_url: "../img/logo-footer-desktop.png";

$mobile_width: 960px;


@mixin logo($is_header){
    min-width: 111px;
    border: solid lime 1px;
    
    margin-left: 14px;

    @if $is_header{
        background-image: url($logo_header_mobile_url);
        height: 93px;
        
    } @else {
        background-image: url($logo_footer_mobile_url);
        height: 111px;
    }  

    @media screen and (min-width: $mobile_width)  {

        @if $is_header{
            background-image: url($logo_header_desktop_url);
            height: 93px;
        } @else {
            background-image: url($logo_footer_desktop_url);
            height: 141px;
        }  

        min-width: 141px;
        border: solid fuchsia 1px;;

        margin-left: 60px;
    }

    background-repeat: no-repeat;
    background-size: contain;
}

