@import "consts.scss";

// .header-wrapper {
//     visibility: hidden;
// }

.header {    
    height: 93px;
    border: 1px purple solid;
    // @include logo(true);

    display:flex; 
    flex-direction:row;      
    // flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.mobile_menu_button {
    background-size: contain;
    background-image: url("../img/profile-options-button.svg");
    min-width: 30px;
    min-height: 25px;
    border: none;
    margin-right: 26px;
}

@media screen and (min-width: $mobile_width)  {
    .mobile_menu_button {   
        visibility: hidden;
        display:none
    }    
}

// .header_logo {
//     @include logo(true);
//     // @if ($is_mobile){
//     //     margin-left: 14px;
//     // }@else{
//     //     margin-left: 60px;
//     // }
    
//     height: 100%;
// }