// @import "consts.scss";

.header-wrapper {
    visibility: hidden;
}

.header {    
    height: 93px;
    border: 1px purple solid;
    // @include logo(true);

    display:flex; 
    flex-direction:row;      
    // flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

// .header_logo {
//     @include logo(true);
//     // @if ($is_mobile){
//     //     margin-left: 14px;
//     // }@else{
//     //     margin-left: 60px;
//     // }
    
//     height: 100%;
// }