.why_we_reason {
    width: 400px;
    height: 225px;

    border: 1px solid red;
}

.why_we_reason img {
    margin-top: 30px;
    margin-left: 20px;
}

.why_we_reason_text {
    margin-top: 19px;
    margin-left: 20px;
}
